*{
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}
body {
  background: url(images/Background1.jpg);
  background-repeat: no-repeat ;
  background-position: top center;
  background-size: 100% auto;
  background-color: #252525;
  color: white;
}
body *{
  font-family: 'Roboto', sans-serif;
  line-height: 160%;
  
}
header {
  height: 152px;
  padding-top: 50px;
}
 header div{
  width: 50rem;
  margin: auto;

  background-image: linear-gradient(90deg,#72fcea 0%, #43E7AD 50.52%, #67e25c 100%);
  border-radius: 5px;
  transition: transform .3s ease;

}
header div:hover{
  transform: scale(1.1) ;
}
header div img{
  width: 50rem;
  border-radius: 5px;
}
main{
  max-width: 800px;
  height: 50%;
  width: 80%;
  gap: 25px;
  margin: 30px auto;
  padding: 25px;
  display:grid ;
  place-items: center;

}
section{
  width: 400px;
  background: rgba( 255, 255, 255, 0.25);
  backdrop-filter: blur(7px);
  border: 1px solid rgba( 255, 255, 255, 0.18);
  padding: 10px;
  border-radius: 4rem;
  transition: transform .3s ease;
  
}

section:hover{
  transform: scale(1.1) ;
}

section .titulo{
  text-align: center;
  color: white;
  font-size: 28px;
  margin: auto;
}

section .acoes{
  padding-top: 15px;
  display: flex;
}

section .acoes .Leitura {
  margin: auto;
  font-size: 25px;
  height: 0px;
  display: flex;
  color: white;
  background: rgba( 255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  border: 1px solid rgba( 255, 255, 255, 0.18);
  padding: 15;
  border-radius: 1rem;
  align-items: center;

}

#username{
  margin-top: 10px;
  text-align: center;
  
}
.Power-off{
  margin-top: -70px;
  padding: 10px;
  
  text-align: center;
  
}


.power-off_checkbox {
  text-align: center;
  position: absolute;
  left: -99999px;
}
.power-off_botao {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.power-off_botao::before,
.power-off_botao::after
{
  content: "";
  transition: all 0.3s ease;

}
.power-off_botao::before {
  display: inline-block;
  width: 6rem;
  height: 2.5rem;
  background: #900;
  border-radius: 3rem;
}
.power-off_botao::after {
  position: absolute;
  top: auto;
  left: 0.01rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #FFF;
  border-radius: 100%;
}
.power-off_checkbox:checked + .power-off_botao::before{
  background: #55d069;
}
.power-off_checkbox:checked + .power-off_botao::after{
  left: 3.490rem;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 1rem;
  
}


/*pc*/
@media (max-width: 1300px){
  header {
    height: 100px;
    padding-top: 25px;
  }
  header div{
    
    width: 40rem;
    margin: 5px auto;
  }
  header div img{
   
    width: 40rem;
    border-radius: 5px;
  }
  main{
    height: 50%;
    width: 90%;
    gap: 0px;
  }
  section{
    width: 240px;
}

section .titulo{
  font-size: 25px;
}

section .acoes .Leitura {
  
  font-size: 20px;
 
 }

}

/*MOBILE*/

@media (max-width: 711px){
  header {
    height: 50px;
    padding-top: 10px;
  }
  header div{
    
    width: 25rem;
    margin: auto;
  }
  header div img{
   
    width: 25rem;
    border-radius: 5px;
  }
  main{
  
    height: 65%;
    width: 80%;
   
  }
  section{
    width: 200px;
    
}

section .titulo{
  font-size: 18px;
}
section .acoes{
  padding-top: 5px;
  display: flex;
}

#username{
  font-size: 20px;
  margin-top: 10px;
  text-align: center;

  }

}

@media (max-width: 412px){
  header {
    height: 50px;
    padding-top: 10px;
  }
  header div{
    
    width: 18rem;
    margin:  5px auto;
  }
  header div img{
   
    width: 18rem;
    border-radius: 5px;
  }
  main{
    height: 50%;
    width: 90%;
    
  }
  section{
    width: 200px;
}

section .titulo{
  font-size: 15px;
}
section .acoes{
  padding-top: 5px;
  display: flex;
}

section .acoes .Leitura {
  
  font-size: 15px;
}
#username{
  font-size: 15px;
  margin-top: 10px;
  text-align: center;

  }
  footer {
    
    font-size: 10px;
    
  }

}